@import './scss/_variables';
@import './scss/_normalize';
@import './scss/_mixins';

header {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  width: 100%;
  height: 150px;
  background: orange;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  .hamburger-menu {
    grid-column: 10/13;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span {
      width: 32px;
      height: 4px;
      background: white;
      margin-bottom: 4px;
      display: block;
    }
  }
  .logo {
    grid-column: 2/6;
  }
}
.banner {
  position: relative;
  height: 700px;
  &-title,&-subtitle,&-description{
    position: absolute;
    color: white;
    left: 130px;
    margin: 0;
    z-index: 1;
  }
  &-title {
    top: 300px;
    font-size: 4rem;
    font-family: $secondary-font;
    font-weight: 900;
  }
  &-subtitle {
    top: 250px;
    font-size: 1rem;
    font-family: $primary-font;
    font-weight: 500;
  }
  &-description {
    top: 450px;
    width: 50%;
    font-size: 1.5rem;
    font-family: $primary-font;
    line-height: 2.5rem;
  }
  &-ol {
    position: absolute;
    background-color: orange;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
  }
}
.paragraph {
  margin: auto;
  width: 60%;
  p {
    font-size: 1.5rem;
    font-family: $primary-font;
    margin: 6rem auto;
  }
}
.box {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 850px;
  &-img {
    grid-column: 2/8;
    position: relative;
    height: 100%;
    width: 620px;
    margin: 0 2rem;
    &-ol{
      position: absolute;
      background-color: rgb(253, 183, 52);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.4;
    }
  }
  &-large-text {
    position: absolute;
    top: 55%;
    right: -45%;
    width: 80%;
    p {
      font-size: 3rem;
      font-family: $secondary-font;
      font-weight: 700;
      font-style: italic;
    }
  }
  &-small-text {
    grid-column: 8/12;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
    p {
      font-size: 1.5rem;
      font-family: $primary-font;
      margin: 15rem 0 0 2rem;
      z-index: 1;
    }
  }
}