.spinner {
  position: fixed;
  background: orange;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}
.loading {
  position: fixed;
  color: white;
  top: 45px;
  font-family: sans-serif;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  opacity: 0;
  z-index: -99;
}